@import '../../style/variables.scss';

.omnie_background{
    height: 60vh;
    background-color: $base-color;
   
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap:50px;
    align-items: center;
    .omnie_image{
        margin-left: 15rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.288);
        img{
            height: 600px;
            width: auto;
        }
    }
    .omnie_text{
        margin-right: 15rem;
        margin-top: -10rem;
        h2{
            text-align: center;
            color:$text-color;
            text-decoration: underline;
        }
        .omnie_box{
            background-color: $secondary-color;
            clip-path: polygon(2% 0, 98% 0, 100% 4%, 100% 96%, 98% 100%, 2% 100%, 0 96%, 0 4%);
            
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.288);
            h3{
                padding: 25px;
                color:$base-color;
            }
        }
    }
}