.zakres_background{
    height: 90vh;
    width: 100%;
    background: url("../../images//tapeta.JPG");
    background-size: cover;
    display:grid;
    justify-content: center;


    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 150px;
    grid-template-areas: 
      "title title title title"
      "discription discription discription discription"
      "test test test test";
      
    h1{
      place-self: center;
      grid-area: title;
      display: flex;
      justify-content:center;
      padding-top: 30px;
      text-align: center;
      color:$base-color;
    }
    h2{
      place-self: center;
      text-align: center;
      color:$base-color;
      grid-area: discription;
    }
    .test{
      grid-area: test;
      display: flex;
      justify-content: space-around;
      .zakresy{
          
        
          place-self: center;
          align-self: start;
          justify-content: center;
          text-align: center;
          color:$base-color;
          h3{
              color:$text-color;
          }
          .fas{
              font-size: 3rem;
              margin-bottom: 15px;
          }
          .zakresy_list{
           list-style-type: disc;
      
  
          
          }
      }
    }
}

