.zakres_background{
    height: 100%;
    width: auto;
    background:url("../../images/6.jpg")rgba(0, 0, 0, 0.165);
    background-blend-mode:darken;
    background-size: cover;
    .zakres_title{
      padding-top: 3rem;
      margin-bottom: 2rem;
      width: 100%;
      h1{
        text-align: center;
        color:$base-color;
        width: 100%;
        &:after{    
            mask: url("../../images/logo-hr.svg") no-repeat center;
            mask-size: contain;  
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 20px;
            background: $base-color;
            width: 100%;
          }
        }
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    h2{
      padding: 5px;
      text-align: center;
      color:$base-color;
    }
    .columns{
      padding: 20px;
      margin-top: 5%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      @media (max-width: 767.98px) {
        flex-direction: column;
      }
      .zakresy{
          align-self: start;
          justify-content: center;
          color:$base-color;
          h3{
            color:$text-color;
          }
          .fas{
            font-size: 3rem;
            margin-bottom: 15px;
          }
          ul{
            list-style: none;
            padding-left: 0;
            li{
              position: relative;
              font-size: 150%;
              line-height: 1.5em;
              padding-left: 40px;
              &:before{
                content: '';
                width: 25px;
                height: 25px;
                position: absolute;
                background-image: url("../../images/logo-icon-white.svg");
                background-repeat: no-repeat;
                background-size:cover;
                background-position: center;
                left: 0%;
              }
            }
          }
      }
    }
}


