@import '../../style/variables.scss';

.NavbarItems{
    background-color: $secondary-color;
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-bottom: 2px solid $base-color;
}

.navbar-logo {
    color:$nav-text;
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 0;
}
.navbar-icon{
    background-color: $base-color;
    mask: url("../../images/logo-icon.svg") no-repeat center;
    mask-size: contain;
    height: 45px;
    width: 45px;
    
    
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-bottom: 0;
    // margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-links{
    text-decoration: none;
    color: $nav-text;
    margin:0 15px 0 15px;
    padding: 0.5rem 1rem;
    &:hover{
        color:white;
    }
}


    // width: 100px;


    a {
        
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
        
        display: inline-block;
        padding: 15px 20px;
        position: relative;
      }
      a:after {    
        background-color: $base-color;
        mask: url("../../images/logo-hr.svg") no-repeat center;
        mask-size: contain;  
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        left: 0%;
        position: absolute;
        background: #fff;
        transition: width 0.3s;
        width: 0;
      }
      a:hover:after { 
        width: 100%; 
        left: 0%; 
      }

.fa-bars,
.fa-times {
    color:$nav-text;
}

// .nav-links-mobile{
//     display:none;
// }

.menu-icon{
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems{
        position: fixed;
        // background-color: $base-color;
        

    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        // height: 450px;
        position: absolute;
        top:50px;
        left:-100%;
        opacity: 1;
        transition:all 0.5s ease;
        z-index: 6;
    }

   
    .nav-menu.active{
        background-color:  $secondary-color;
        left: 0;
        opacity: 1;
        transition:all 0.5s ease;
        z-index: 5;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        &:hover{
            color:white;
        }
     
    }
    .navbar-logo{
        position: absolute;
        left: 0;

    }
    .menu-icon{
        display: block;
        position: absolute;
        right: 0;
        font-size: 1.8rem;
        cursor: pointer;
        transform: translate(-60%);
    }

}