.kontakt_background{
    background-color: $base-color;
    height: 100%;
    width: auto;
    background-size: cover;
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 8%;
    overflow: hidden;
    .kontakt_title{
        margin-bottom: 2rem;
        padding-top: 3rem;
        h1{
            text-align: center;
            color:$text-color;
            position: relative;
            &:after{    
                background-color: $base-color;
                mask: url("../../images/logo-hr.svg") no-repeat center;
                mask-size: contain;  
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 20px;
                background: $text-color;
                transition: width 0.3s;
                width: 100%;
              }
        }
    }
    .kontakt_box{
        height: auto;
        width:70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50%;
        transform: translate(-50%);
        background-color: $secondary-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.288);
        color: white;
        @media (max-width: 1200px) {
            width: 80%;
        }
        .kontakt_middle_box{
            img{
                height: auto;
                max-width: 100%;
            }

        }
        .kontakt_left_box, .kontakt_right_box{
            padding:20px
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            border: 50px solid transparent;
            border-bottom: 50px solid $base-color;
            top: -10px;
            left: -10px;
            box-shadow: 0px 7px 6px -9px black;
            transform: translate(-50%, -50%)  rotate(315deg);
          }
        &::after {
            content: "";
            display: block;
            position: absolute;
            border: 50px solid transparent;
            border-bottom: 50px solid $base-color;
            bottom: -10px;
            right: -10px;
            box-shadow: 0px 7px 6px -9px black;
            transform: translate(50%, 50%) rotate(135deg);
          }
         p{
             padding: 0 20px 0 20px;
         } 
        a{
            font-family: "Lato", sans-serif;
            text-decoration: none;
            color: $nav-text;
            display: inline-block;
            margin-bottom: 14px;
            &:hover{
              color:white;
           }
        }
    }
}